*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.k img{
	width: 100%;
}

.about{
	background-color: pink;
}

.sp{
	background-color: lightgreen;
}

.bg-dark {
    background-color: #343a403b!important;
}










footer .social{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 10px;
}

footer .social a{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
    text-decoration: none;
}

footer .social a:hover{
    color: #ffffff;
}